<%= stylesheet_link_tag 'application' %>

<h1>Users List</h1>

<% @users.each do |user| %>
  <%= link_to user_path(user) do%>
    <div class="users-container">
      <div class="user_view">
        <img src=<%= user.photo%>>
      </div>
      <div class="user_name_and_posts_counter">
       <span class="user_name"><h2><%= user.name %></h2></span>
       <span class="user_posts_counter"><p>Number of posts: <%= user.posts_counter %></p></span>
      </div>
    </div>
<% end %>
<% end %>
