<div class="flex md:selection:space-x-2 h-auto w-full md:py-4 bg-midnight mb-12">
  <div class="flex-1">
    <h1 class="md:text-3xl font-bold text-white text-center"><%= @user.name%></h1>
  </div>
</div>

<div class="container user_view">
  <div class="user_avatar">
    <img src=<%= @user.photo%>>
  </div>
  <div class="user_info">
    <span class="user_name"><h2><%= @user.name %></h2></span>
    <span class="user_posts_counter"><p>Number of posts: <%= @user.posts_counter %></p></span>
    <span class="add_post">
      <%= link_to "Add new post", new_user_post_path(@user)%>
    </span>
  </div>
</div>

<%@posts.each do |post|%>
  <%= link_to user_post_path(user_id: post.author_id, id: post.id) do%>
    <div class="post">
      <div class="post_title">
          <h3><%= post.title %></h3>
      </div>
      <div class="post_content">
        <p><%= post.text %></p>
      </div>
      <div class="comments_likes_counter">
        <div class="comment_count">
          <h4>Comments: <%= post.comments_counter %></h4>
        </div>
        <div class="like_count">
          <h4>Likes: <%= post.likes_counter %></h4>
        </div>
    </div>
    <div class="post_comments">
      <%post.recent_comments.each do |comment| %>
      <p> <%= comment.author.name %>: <%= comment.text %></p>
      <% end %>
    </div>
  <%end%>
<% end %>

<div class="pagination">
  <button type="button" class="btn btn-primary btn-lg"> pagination </button>
</div>
