<div class="flex md:selection:space-x-2 h-auto w-full md:py-4 bg-midnight mb-12">
  <div class="flex-1">
    <h1 class="md:text-3xl font-bold text-white text-center">Post <%= @post.id%></h1>
  </div>
</div>

<div class="container h-full-auto w-full p-0 mt-12">
  <div class="container h-auto p-2 rounded md:rounded-sm bg-blueSecond/20">
    <div class=" container p-0 w-full flex justify-between pr-16 mb-12">
      <h2 class="title">Post by <%= @post.author.name%></h2>
      <div class="flex gap-12">
        <div class="comments">
          <h3>Comments: <%= @post.comments_counter %></h3>
        </div>
        <div class="likes">
          <h3>Likes: <%= @post.likes_counter %></h3>
        </div>
      </div>
    </div>

    <div class="container flex p-0 w-auto">
      <div class="post_middle">
        <p><%= @post.text %></p>
        <div class="flex w-auto gap-5 mt-6">
          <div class="w-full flex justify-center mt-5">
            <button class="bg-midnight hover:bg-midnight/90 text-white font-medium py-2 px-4 rounded align-middle">
              <%= form_with model:@like, url: user_post_likes_path(post_id: @post.id) do |f| %>
                <%= f.submit "Like" %>
              <% end %>
            </button>
          </div>
          <div class="w-full flex justify-center mt-5">
            <button class="bg-midnight hover:bg-midnight/90 text-white font-medium py-2 px-4 rounded align-middle">
              <%= link_to "Comment", new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id) %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" container p-0 mt-6">
    <% @post.recent_comments.each do |comment| %>
      <div class="h-auto p-2 bg-blueSecond/10 mb-3 rounded md:rounded-md">
        <p><%= comment.author.name %> : <%= comment.text %></p>
      </div>
    <% end %>
  </div>
</div>
